{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<div class="grid-x" data-module="colorpicker">

  <div id="reference_monitor" class="cell small-9 grid-x reference">

    <div class="cell small-6 inputs">
      <!-- <input class="jscolor" value="ab2567"> -->
        {% for item in input_items %}
        <div class="inputs__input-wrapper">
          <label for="{{item.name}}">{{item.name}}</label>
          <input
          class="{% if item.class %}{{ item.class}}{% endif %} input input--{{item.name}}"
          id="{{item.name}}"
          {%if item.type %}
            type="{{item.type}}"
          {% endif %}
          name="{{item.name}}"
          {%if item.value %}
            value="{{item.value}}"
          {% endif %}
          {% if item.placeholder %}
            placeholder="{{ item.placeholder}}"
          {% endif %}
          {%if item.max %}
            max="{{item.max}}"
          {% endif %}>
        </div>
        {% endfor %}
      </div>

        <div class="grid-x text-monitors">
          <div class="cell small-6 text-monitors__cube text-monitors__cube--black">
          <h2>Lorem ipsum sit amet</h2>
          <p>
            Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content. It's also called placeholder (or filler) text. It's a convenient tool for mock-ups. It helps to outline the visual elements of a document or presentation, eg typography, font, or layout.
          </p>
        </div>
          <div class="cell small-6 text-monitors__cube text-monitors__cube--white">
          <h2>Lorem ipsum sit amet</h2>
          <p>
            Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content. It's also called placeholder (or filler) text. It's a convenient tool for mock-ups. It helps to outline the visual elements of a document or presentation, eg typography, font, or layout.
          </p>
        </div>
        </div>
    </div>

    <div class="cell small-3 monitors">
      <div class="monitors__cube"></div>
      <div class="monitors__cube"></div>
      <div class="monitors__cube"></div>
      <div class="monitors__cube"></div>
      <div class="monitors__cube"></div>
    </div>

  </div>

</div>
{% endblock %}
