.inputs {
  margin-top: 5%;
  margin-left: 5%;
  padding: 20px;
  background: rgba(255,255,255,.3);
  border-radius: 10px;
  z-index: 999;

  .inputs__input-wrapper {
    margin: 10px 0;
  }

  .inputs__input-wrapper--buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

    .btn {
      background: #fff;
      border-radius: 17px;
      padding: 4px 10px;
      cursor: pointer;

      &:hover { background: #efefef; }
      &.active {
        background: #000;
        color: #fff;
      }
    }
  }

  label {
    display: block;
    width: 100%;
  }

  input {
    display: block;
    width: 100%;
  }
}
