.monitors {

  &__cube {
    position: relative;
    display: block;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  &__text {
    display: inline-block;
    font-weight: bold;
    margin-left: 30px;
  }

  &__color-dot {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.text-monitors {
  margin-top: 5%;
  padding: 2em;

    .text-monitors__cube--black {
      color: black ;
    }

    .text-monitors__cube--white {
      color: white;
    }
}
